!!!
html
  head
    title=title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/burnup-chart.css')
    script(src='javascripts/jquery.dev.js')
    script(src='javascripts/d3.js')
    script(src='javascripts/compiled/burnup-chart.js')
    script(src='https://api.trello.com/1/client.js?key=#{api_key}')
    script(src='javascripts/compiled/dashboard.js')
  body

    div#burnup_charts

    div.box
        h2 A-Team
        #teamA

    div.box
        h2 Team404
        #team404

    div.box
        h2 TeamXXX
        #teamXXX