!!!
html
  head
    title=title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.dev.js')
    script(src='https://api.trello.com/1/client.js?key=#{api_key}')
    script(src='javascripts/dashboard.js')
  body

    #stuff