extends layout

block content
  .container
    .row
      .hero-unit
        h2 Welcome to Trello Stats
        p These are a couple of scripts that trigger the Trello API. The information is extracted from Trello and is tried to make sens of with a couple of naming conventions.
        h4 Naming conventions for Sprints
        ul
            li A Sprint has at least following states / lists:
                ul
                    li Backlog
                    li Sprint Backlog
                    li (Several work in progress lists like In Arbeit, Abnahme)
                    li Released: 2012-11-12--2012-11-04 v???
            li As soon as something is in the Sprint Backlog it is considered part of the Sprint goal / total points.
            li The name of the Released list is important since it specifies the Sprint range. Please use the exact naming convention or make a pull request ;-) Released: YYYY-MM-DD--YYYY-MM-DD v.*
        h4 Naming conventions for Working Hours
        ul
            li TODO