extends layout

block content
  .container
    .row
      .hero-unit
        a.btn(href="statscsv?board_id=50350ea44ac40fb64b0044f4") Download xXx stats as CSV
        a.btn(href="stats?board_id=50350ea44ac40fb64b0044f4") View xXx stats
        br
        a.btn(href="statscsv?board_id=4f681edb801cba2d41140478") Download A-Team stats as CSV
        a.btn(href="stats?board_id=4f681edb801cba2d41140478") View A-Team stats
        br
        a.btn(href="statscsv?board_id=4f05b23a7bd9872d743ece95") Download Team-404 stats as CSV
        a.btn(href="stats?board_id=4f05b23a7bd9872d743ece95") View Team-404 stats