!!!
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Trello Stats
          ul.nav
            li.active
              a(href="") Home
            li
              a(href="stats") Stats

    .container
      .row
        .hero-unit
          a.btn(href="statscsv?board_id=50350ea44ac40fb64b0044f4") Download xXx stats as CSV
          a.btn(href="stats?board_id=50350ea44ac40fb64b0044f4") View xXx stats
          br
          a.btn(href="statscsv?board_id=4f681edb801cba2d41140478") Download A-Team stats as CSV
          a.btn(href="stats?board_id=4f681edb801cba2d41140478") View A-Team stats
          br
          a.btn(href="statscsv?board_id=4f05b23a7bd9872d743ece95") Download Team-404 stats as CSV
          a.btn(href="stats?board_id=4f05b23a7bd9872d743ece95") View Team-404 stats

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/sugarjs/sugar.min.js")