!!!
html
  head
    title= 'title'
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Trello Stats

    .container
      .row
        .hero-unit
          #table_div

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/sugarjs/sugar.min.js")
    script(src="https://www.google.com/jsapi")
    script
      var data = !{data};
    script
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        //FIX ME
        var dt = new google.visualization.DataTable();
        dt.addColumn('string', 'working_hours');
        dt.addColumn('string', 'finished');
        dt.addColumn('string', 'started');
        dt.addColumn('string', 'label');
        dt.addColumn('string', 'versions');
        dt.addColumn('string', 'sprint_range');
        dt.addColumn('string', 'estimate');
        dt.addColumn('string', 'card_name');
        dt.addColumn('string', 'list_name');
        dt.addColumn('string', 'card_id');
        dt.addColumn('string', 'Board');
        dt.addColumn('string', 'member');
        dt.addRows(data);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(dt, {showRowNumber: true});
      }
